<% if @house_members %>
  <h1><%=@house_members.size%> Results </h1>
  <% cache "house-member-#{@state}", expires_in: 10.seconds do %>
    <% @house_members.each do |house_member| %>
      <ul class="house_members">
        <li class="name"><%= house_member.name%></li>
        <li class="district"><%= house_member.district%></li>
      </ul>
    <% end %>
  <% end %>
<% end %>